/.idea/
compile_commands.json
/.vscode/

# Ignore generated and compiled Python code
*_pb2.py
*.egg-info
__pycache__
*.pyc

# clangd
.clangd/
/.cache/

# Visual Studio
/.vs/

# Rust/Cargo build artifacts
third_party/py-spy-ffi/target/
.bazelrc.user
/bazel-*
src/OrbitLiveViewer/target/
src/OrbitLiveViewer/crates/*/target/
